<div class="main-cont">
  <%# <div class="navbar">
    <h2 class="navbar-title">Guide</h2>
  </div> %>
  <div class="content">
    <h1 class="content-title">Carrito Rentals API Documentation</h1>
    <div class="content-starting" id="getting-started">
      <div class="starting">
        <h2 class="starting-title">Getting Started:</h2>
        <p class="starting-content1">This document explains how to call the Carrito Rentals API and get a Carrito Rentals 
        Account or Caritto Rentals resources such as cars and rentals per user. It assumes that you are familiar 
        with RESTful API, CRUD methods and know how to perform REST API calls. If you do not have an app as yet 
        you can test each API endpoint using Postman or Thunder Client extension for VSCode IDE.</p>
        <h3>
      </div>
      <div class="before">
        <h3 class="before-title">Before Starting:</h3>
        <p>You will need access to the following:</p>
        <ul>
          <li>A Caritto Rentals Account.</li>
          <li>Postman or any API service.</li>
        </ul>
      </div>
      <div class="auth">
        <h3>Authorization & Authentication:</h3>
        <p>In order to request resources from this API, you need to be a registered user. 
        To do this you can either log in or sign up using the following endpoints. 
        This will give you a token that will be valid for 24 hours. On each request 
        thereafter the token needs to be included in the header in order for the request 
        to be authenticated and authorized. </p>
      </div>
      <div class="endpoint">
        <h2 class="starting-title">Endpoints:</h2>
        <h3>Service Endpoint:</h3>
        <p>A service endpoint is a base URL that specifies the network address of an API service. 
        One service might have multiple service endpoints. This service has the following service 
        endpoint and all URIs below are relative to this service endpoint: <br>
        <a href="https://caritto-backend-rentals.herokuapp.com">
        https://caritto-backend-rentals.herokuapp.com
        <a>
        </p>

        <div class="table-cont">
          <p>REST Resource: <b>v1.users</b> </p>
          <table style="width:100%">
            <tr>
              <th> <b>Methods</b> </th>
            </tr>
            <tr>
              <td>create</td>
              <td>
                <p>POST   /v1/users</p>
                <br>
                <p><i>Code Example.</i></p> 
                <code style="background: white">
                body: {
                    "username": "newuser1000" 
                }       
                </code>
                <br>
                <p>Creates a new user with the username inside the body as the username.</p>
              </td>
            </tr>
            <tr>

            </tr>
          </table>
        </div>

        <div class="table-cont">
          <p>REST Resource: <b>v1.signin</b> </p>
          <table style="width:100%">
            <tr>
              <th> <b>Methods</b> </th>
            </tr>
            <tr>
              <td>signin</td>
              <td>
                <p>POST /v1/signin</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                body: {
                    "username": "newuser1000" 
                }       
                </code>
                <br>
                <p>Logs in an existing user and provides an authentication token needed for requesting 
                resources.</p>
                <br>
                <p><i>Return Example:</i></p> 
                <code style="background: white">
                  body: {
                    "token": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk",
                    "exp": "14-12-2021 22:24",
                    "username": "newuser1000"
                  }
                </code>
              </td>
            </tr>
            <tr>

            </tr>
          </table>
        </div>

        <div class="table-cont">
          <p>REST Resource: <b>v1.validate</b> </p>
          <table style="width:100%">
            <tr>
              <th> <b>Methods</b> </th>
            </tr>
            <tr>
              <td>validate</td>
              <td>
                <p>POST /v1/validate</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <code style="background: white">
                  body: {
                      "username": "newuser1000" 
                  }       
                </code>
                <br>
                <p>Validates if the sent user is logged in already and returns a value.</p>
                <br>
                <p><i>Return Example:</i></p> 
                <code style="background: white">
                  body: {
                    "auth": true
                  }
                </code>
              </td>
            </tr>
            <tr>

            </tr>
          </table>
        </div>

        <div class="table-cont">
          <p>REST Resource: <b>v1.mycars</b> </p>
          <table style="width:100%">
            <tr>
              <th> <b>Methods</b> </th>
            </tr>
            <tr>
              <td>mycars</td>
              <td>
                <p>GET /v1/mycars</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <p>This endpoint will return an array of all the cars owned by the logged-in user.</p>
              </td>
            </tr>
            <tr>

            </tr>
          </table>
        </div>

        <div class="table-cont">
          <p>REST Resource: <b>v1.cars</b> </p>
          <table style="width:100%">
            <tr>
              <th> <b>Methods</b> </th>
            </tr>
            <tr>
              <td>index</td>
              <td>
                <p>GET /v1/cars</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <p>This endpoint will return all the cars stored on the API for all users.</p>
              </td>
            </tr>
            <tr>
              <td>show</td>
              <td>
                <p>GET /v1/cars/{car_id}</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <p>This endpoint will return the stored information on the car that matches the car_id 
                parameter.</p>
              </td>
            </tr>
            <tr>
            <td>create</td>
              <td>
                <p>POST /v1/cars</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <code>
                body: {
                  "brand": "Mercedes"
                  "model": "C Class"
                  "seats_number": 5
                  "transmission": "Automatic"
                  "mileage": unlimited
                  "image": "https://www.actualidadmotor.com/wp-content/uploads/2021/09/ford-fiesta-1.jpg"
                  "price_for_day": 120
                  "bags_number": 5
                  }
                </code>
                <br>
                <p>This endpoint is used to create a new car. 
                All the parameters inside the body are mandatory.</p>
              </td>
            </tr>
            <tr>
               <td>destroy</td>
              <td>
                <p>DELETE /v1/cars/{car_id}</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <p>This endpoint will delete the car with an id identical to the id passed.</p>
              </td>
            </tr>
          </table>
        </div>

         <div class="table-cont">
          <p>REST Resource: <b>v1.rentals</b> </p>
          <table style="width:100%">
            <tr>
              <th> <b>Methods</b> </th>
            </tr>
            <tr>
              <td>index</td>
              <td>
                <p>GET /v1/rentals</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <p>This endpoint will return all the rentals of the currently logged-in user.</p>
              </td>
            </tr>
            <tr>
            <td>create</td>
              <td>
                <p>POST /v1/rentals</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <code>
                body: {
                  "start_date": "18-12-2021",
                  "end_date": "31-12-2021",
                  "city": "Montego Bay"
                  "car_id": 1
                  }
                </code>
                <br>
                <p>This endpoint will create a new rental for the logged-in user.</p>
              </td>
            </tr>
            <tr>
               <td>destroy</td>
              <td>
                <p>GET /v1/rentals/{rental_id}</p>
                <br>
                <p><i>Code Example</i></p> 
                <code style="background: white">
                  headers: {
                  Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJleHAiOjE2Mzk1Mzg2NTR9.
                  fKBOQorjIu20VRWBksSgeCP7kPynP9q1gIlUFYP4NYk 
                  }
                </code>
                <br>
                <p>This is will delete any rentals that have an id matching the id sent in the endpoint.</p>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>